body {
  min-width: 940px;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px; 
  line-height: 18px;  
  font-weight: normal;
  color: #000;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;

  margin-right: 0;
  margin-left: 0;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

h1 {   
  font-family: Cuprum, Arial, sans-serif; 
  font-size: 24px;     
  font-weight: normal; 
  text-transform: uppercase;
  color: #fff;
}

h2 { 
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px; 
  font-weight: normal; 
  color: #32425c;
  text-transform: uppercase;
}

h3 {
  font-family: "PT Sans", Arial, sans-serif; 
  font-size: 18px;
  font-weight: bold; 
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

/*HEADER*/

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

/*top header user-bar*/

.logo {
  float: left;
  width: 200px; 
  padding: 0 10px;   

  text-align: center;   
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;  
}

.logo h1 { 
  padding: 12px 0;
  margin: 0;
}
.logo a {
  text-decoration: none;
  color: #fff;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.search {
  float: left;
  width: 270px;
}

.search input {
  width: 100%;
  padding: 12px 20px 12px 47px;  
  box-sizing: border-box;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  border: none;    
  background-color: #293449;  
}

.search input::-webkit-input-placeholder { /* Chrome */
  color: #fff;
  opacity: 1;
}
.search input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity: 1;
}
.search input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.search input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}

.search .search-form {
  position: relative;
}

.search .search-form::before {
  content: "\1f50d";
  position: absolute;
  top: 12px;
  left: 18px;

  font-family: "symbols-technomart";
  font-size: 17px;
  color: #fff;
  opacity: 0.3; 
}

input[type="search"]:hover {
  background-color: #212a3a;
}

.search .search-form:hover::before {
  opacity: 1;
}

input[type="search"]:focus {
  background-color: #fff;
  color: #000;
}

input[type="search"]:focus .search-form::before {
  color: #ee3643;
}

.user-bar {
  float: right;
  width: 450px; 
  font-size: 0; 
}

.user-bar a {
  display: inline-block; 
  width: 150px;
  padding: 12px 0;  

  font-size: 17px;
  font-family: Cuprum, Arial, sans-serif;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
}

.user-bar span {
  display: inline-block;
  padding-left: 4px; 
}


.user-bar .bookmarks::before {  
  content: "\1f516";
  margin-left: 18px;  
  margin-right: 13px;

  font-family: "symbols-technomart";
  font-size: 17px;
  opacity: 0.3;
}

.user-bar .cart::before {
  content: "\62";
  margin-left: 17px;
  margin-right: 17px;

  font-family: "symbols-technomart";
  font-size: 17px;
  opacity: 0.3;
}

.user-bar .bookmarks:hover,
.user-bar .cart:hover {
  background-color: #212a3a;
}

.user-bar .bookmarks:hover::before,
.user-bar .cart:hover::before {
  opacity: 1;
}

.user-bar .bookmarks:active,
.user-bar .cart:active {
  background-color: #161d29;  
  color: rgba(255, 255, 255, 0.6);
}


.user-bar .order {
  text-align: center;
  background-color: #63a63e;
}

.user-bar .order:hover {
  background-color: #5fbb2d;
} 

.user-bar .order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.6);  
} 

/*full-empty cart bar*/

.user-bar-index .cart-full {
  display: none;
}

.user-bar-catalog .cart-empty {
  display: none;
}

.user-bar-catalog .cart-full {
  display: inline-block; 
  background-color: #ee3643; 
}

.user-bar .cart-full:hover {
  background-color: #ca2c37;
} 

.user-bar .cart-full:active {
  background-color: #ba2732;
} 

.top-menu {
  min-height: 42px;
  margin-bottom: 47px;
  background-color: #293449;
}

/*contacts-description,phonenumber and address*/

.shop-info {
  margin-bottom: 42px;
  clear: both;  
}

.description p,
.phonenumber p,
.address p {
  margin: 0;
  padding: 0;
}

.shop-info .description {
  float: left;
  width: 200px;
  margin-right: 70px;
  margin-left: 50px;  

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-family: Cuprum, Arial, sans-serif;
  color: #ee3643;
}

.shop-info .contacts {
  float: left;
  width: 270px;
  margin-right: 50px;    
}

.contacts .phonenumber { 
  padding: 9px 47px 9px 12px;
  margin-bottom: 9px;

  text-align: center;
  font-size: 21px;
  font-family: Cuprum, Arial, sans-serif;
  color: #e9292a;
  border: 3px solid #fff;
  box-sizing: border-box;
}

.phonenumber p::before{
  content: "\1f4de";
  padding-right: 40px;
  font-family: "symbols-technomart";
  font-size: 22px;  
  color: #b7bfc8;
} 

.contacts .address {
  text-align: center;
  font-size: 14px;
  font-family: Cuprum, Arial, sans-serif;
  color: #32425c;  
}

.user-block {
  float: right;
  width: 300px;
}

/*sign-in and registration btns*/

.sign-in,
.sign-up {
  display: inline-block; 


  font-weight: normal;
  font-size: 21px;
  line-height: 18px;
  font-family: Cuprum, Arial, sans-serif;
  color: #000;
  text-decoration: none;
  text-align: center;
  vertical-align: top;

  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.sign-in {
  max-width: 120px;
  padding: 13px 26px 13px 15px;
  margin-right: 10px;
  margin-left: 19px;
}

.sign-in::before {
  content: "\2386";
  padding-right: 12px;
  font-family: "symbols-technomart";
  font-size: 22px;  
  color: #c5c5c5;
} 

.sign-up {
  max-width: 150px;
  padding: 13px 22px;   
}

.sign-in:hover,
.sign-up:hover {
  color: #ee3643;
}

.sign-in:hover::before {
  color: #32425c;
}

.sign-in:active,
.sign-up:active {
  color: rgba(0, 0, 0, 0.3);
}

/*LOG IN BLOCK*/

.user-block .username {
  display: inline-block;
  width: 292px;
  margin-bottom: 7px;
  padding: 12px 0px 12px 8px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  color: #000;
  text-decoration: none; 
  text-align: center;
  vertical-align: top;
  background-color: #fff;
}

.user-block .username::before {
  content: "\1f468";
  padding-right: 12px;

  font-family: "symbols-technomart";
  font-size: 18px;
  color: #c5c5c5;
} 

.user-block .username::after {
  content: "\241b";
  margin-left: 35px;

  font-family: "symbols-technomart";
  font-size: 22px;
  color: #c5c5c5;
} 

.user-links a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;  
  text-decoration: underline;
}

.user-links .user-order {
  padding-left: 18px;
}

.user-links .user-account::before {
  content: "";
  display: inline-block;
  margin-right: 13px;
  margin-left: 12px;
  width: 4px;
  height: 4px;

  color: #32425c;
  line-height: 4px;
  border-radius: 50%; 
  background-color: #32425c;
  vertical-align: middle;
}

.user-block .username:hover::before,
.user-block .username:hover::after {
  color: #32425c;
}

.user-links .user-order:hover,
.user-links .user-account:hover {
  color: #ee3643;
}

.username:active,
.user-links .user-order:active,
.user-links .user-account:active {
  opacity: 0.3;
} 

.user-links .user-account:active::before {
  opacity: 1;
}

/*log-in log-out bar*/

.log-in-index {
  display: none;
}

.log-in-catalog {
  display: inline-block;
}

.log-out-catalog {
  display: none;
}


/*main navigation*/

.main-menu {
  width: 100%;
  margin-bottom: 60px;
  clear: both;

  text-align: center; 
  color: #fff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-menu ul {  
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-menu li {
  display: inline-block;

  font-size: 17px;
  line-height: 17px;
  font-family: Cuprum, Arial, sans-serif;
  vertical-align: top;
}

.main-menu a {
  display: block;  
  padding: 19px 31px;   

  color: #fff;
  text-decoration: none;
}

.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5); 
}


.main-header {  
  background-color: #f1f5f7;
}


/*OFFER BLOCKS*/

.offer {   
  position: relative;
  float: left;
  width: 252px;  
  padding: 21px 24px 22px;

  font-size: 24px;
  line-height: 30px;
  font-family: Cuprum, Arial, sans-serif;
  color: #fff;
}

.materials,
.tools,
.technics {  
  margin-right: 20px;
  margin-bottom: 20px;
}

.offer b {
  display: block;
  margin-bottom: 12px;
}

.offer::before {
  content: "";

  position: absolute;
  top: 30px;    
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;  
}

.materials::before {
  left: 213px;
  width: 44px;
  height: 65px;
  background-position: -93px -5px;
}

.tools::before {
  left: 197px;
  width: 75px;
  height: 61px;
  background-position: -147px -5px;
}

.technics::before {
  left: 191px;
  width: 78px;
  height: 62px;
  background-position: -74px -80px;
}

.sales::before {
  left: 196px;
  width: 59px;
  height: 72px;
  background-position: -5px -80px;
}

.shipment::before {
  left: 191px;
  width: 78px;
  height: 63px;
  background-position: -5px -5px;
}

/*style for promo-btn*/

.promo-btn {
  display: inline-block;    
  width: 125px;
  padding: 10px 5px;

  border: none;
  border-radius: 3px; 
  outline: none;

  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  font-family: Cuprum, Arial, sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);  
  cursor: pointer;  
}

.promo-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #f6b22d;
}

.tools {
  background-color: #4aafde;
}

.technics {
  margin-right: 0;
  background-color: #cc79d1;
}

.sales {
  margin-bottom: 20px;
  background-color: #85d179;
}

.shipment {
  background-color: #f6b22d;
}

.offer-blocks {
  margin-top: 59px;
  margin-bottom: 50px;  
}

/*slider*/

.slider {
  position: relative;

  float: left;
  width: 620px;
  height: 266px;  
  margin-right: 20px;    
}

.slider-control {
  position: absolute;
  bottom: 36px;
  left: 50%;

  width: 100px;
  height: 10px;
  margin-left: -50px;
  text-align: center;
  z-index: 1000; 
}

.slide input[type=radio] {
  position: absolute;
  opacity: 0;
}


.slider-control label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background: white;
  border: 2px solid white;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}

#btn-1:checked ~ .slider-control label[for="btn-1"],
#btn-2:checked ~ .slider-control label[for="btn-2"] {
  background: #ee3643;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;

  color: #fff;
  overflow:hidden;
  z-index: 50;
}

.slide:nth-child(1) {
  background: url('../img/worker-perforators.jpg') no-repeat;
}

.slide:nth-child(2) {
  background: url('../img/worker-drills.jpg') no-repeat;
}

.slide-text,
.open-catalog {
  margin-left: 25px;
} 

.slide-text b {
  display: inline-block;
  padding-top: 30px;   

  font-family: Cuprum, Arial, sans-serif;
  font-size: 36px;  
  text-transform: uppercase;
}

.slide-text p {
  margin-top: 8px; 
  font-size: 18px; 
  font-style: normal 
} 

.open-catalog {
  position: absolute;
  bottom: 22px;  

  display: inline-block;    
  width: 175px;
  padding: 10px;  

  border: none;
  border-radius: 3px; 
  outline: none;

  font-size: 14px;  
  line-height: 18px;
  font-family: Cuprum, Arial, sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;  
  cursor: pointer; 
  z-index: 50;
}

.open-catalog:hover {
  background-color: #ca2c37;  
}

.open-catalog:active {
  background-color: #ba2732;  
}

.slide {
  display: none;
}

/*arrow slider switchers*/

.slider-switcher label {
  position: absolute;
  top: 42%;
  font-family: "symbols-technomart";
  font-size: 45px;
  line-height: 18px;
  color: #fff;
  z-index: 1000;
  cursor: pointer;
}

.slider-switcher .icon-left {  
  left: 16px;  
}

.slider-switcher .icon-right {
  right: 11px;  
}


#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}


/*POPULAR GOODS AND PRODUCERS*/

.popular-items-header,
.popular-produsers-header {
  margin-bottom: 20px;  
  background-color: #f7f3ec;   
  clear: both;
}


.popular-items-header h2,
.popular-produsers-header h2 {  
  float: left;
  width: 300px;  
  padding: 0;
  padding-top: 10px;  
  padding-left: 30px;
}

.popular-produsers-header h2 {
  float: left;
  width: 390px;  
}

.popular-btn {  
  float: right;
  width: 234px;
  padding: 10px;
  margin: 25px 0;
  margin-right: 24px;

  border: none;
  border-radius: 3px; 
  outline: none;

  text-align: center;  
  text-decoration: none;  
  text-transform: uppercase; 
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;  
  color: #fff;
  background-color: #ee3643; 
  cursor: pointer; 
}

.popular-btn:hover {
  background-color: #ca2c37;
}

.popular-btn:active {
  background-color: #ba2732;
}

/*popular items style*/

.item-preview {
  font-size: 0;
}

.item-preview section {  
  position: relative;
  display: inline-block;

  width: 218px;
  height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  vertical-align: top;
  border: 1px solid #e5e5e5; 
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;    
}

.item-preview section:nth-child(4n) {
  margin-right: 0; 
}

.item-image {
  position: relative;
  width: 218px;
  height: 168px;
  overflow: hidden; 
}

.item-image img {
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-56%,-50%); 
  vertical-align: middle;     
}

section .title {
  margin-top: 10px;
  margin-bottom: 11px;
  padding: 0 25px;
}

section .discount {
  min-height: 20px;
  margin-bottom: 8px;
  font-size: 17px;
  color: #999;
  text-decoration: line-through;
  text-transform: uppercase;
}

section .price-btn {
  position: relative;

  width: 80px;  
  margin: 0 auto 20px;
  padding: 10px 30px;

  font-size: 17px;
  color: #fff;
  background-color: #ee3643;
  border-radius: 3px; 
  text-transform: uppercase; 
  cursor: pointer;
}

section .price-btn:after {
  position: absolute;
  top: 0;
  right: -20px;

  content: '';
  width: 0;
  height: 0;
  border: 20px solid #fff;
  border-left-color: #ee3643
}

section .new-item {
  margin-top: 38px;
}


/*style for buy-bookmarks action*/
.catalog-item .actions {
  display: none;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  position: absolute;
  
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff;
  z-index: 30;
}

.actions .buy,
.actions .add-bookmarks { 
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;  
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase; 
  text-decoration: none;
  color: #fff;
  background-color: #63a63e;
  border-radius: 3px;
}

.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}

.actions .buy:hover {
  background-color: #5fbb2d;
}

.actions .buy:active {
  background-color: #518534;
  box-shadow: none;
}

.actions .add-bookmarks {
  width: 129px;
  padding: 7px 0;
  color: #32425c;  
  background-color: #fff;
  border: 3px solid #63a63e;
}

.actions .add-bookmarks:hover {
  border-color: #32425c;
}

.actions .add-bookmarks:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.new::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  z-index: 50;
  background: url('../img/new-flag.png') no-repeat 0 0;
}


/*popular producers style*/

.popular-produsers-logo {
  font-size: 0;
}

.produsers-logo {
  display: inline-block;

  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;

  vertical-align: middle;   
  font-size: 18px;  
  line-height: 143px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #e5e5e5; 
}

.produsers-logo img {    
  vertical-align: middle; 
}


.popular-produsers-logo a:nth-child(4n) {
  margin-right: 0; 
}

.popular-produsers {
  margin-bottom: 70px;
}

.produsers-logo:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.produsers-logo:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/*FEATURES*/

.features {
  padding-top: 1px; 
  background-color: #f2f6f8;
}

.services {
  width: 400px;
}

.services h2 {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 35px;
  color: #000;
}

.services p {
  line-height: 24px;
  margin-bottom: 67px;
}

/*SLIDER PROFITS*/

.slider-profits {
  position: relative;
  width: 940px;
  height: 285px;   
}

.slider-profits input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.profit-control label {
  display: block;
  width: 196px;
  padding: 15px 22px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #32425c;
  box-shadow:
  inset 0 -1px #293449,
  inset 0 1px #405069;
  cursor: pointer;  
}

#profit-btn-1:checked ~ .profit-control label[for="profit-btn-1"],
#profit-btn-2:checked ~ .profit-control label[for="profit-btn-2"],
#profit-btn-3:checked ~ .profit-control label[for="profit-btn-3"] {
  color: #32425c;
  background-color: #fff;
  box-shadow: none;
}

.profit-slide {
  position: absolute;
  top: 0;
  left: 320px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-info {
  width: 380px;
}

.slide-info h2 {
  margin-top: 5px;
  margin-bottom: 36px;
  
  font-size: 36px;
}

.slide-info p {
  line-height: 24px;
}

.slide-info .apply-btn {
  display: block;
  width: 175px;
  padding: 10px 10px;
  margin-top: 25px;

  font-family: Cuprum, Arial, sans-serif;  
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;  
  border: none;
  outline: none;
  cursor: pointer;
}

.slide-info .apply-btn:hover {
  background-color: #ca2c37;
} 

.slide-info .apply-btn:active {
  background-color: #ba2732;
} 

.profit-slide:nth-child(1) {
  background-image: url(../img/car.png);
  background-repeat: no-repeat;
  background-position: 150px 24px;
}

.profit-slide:nth-child(2) {
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: 240px 0;
}

.profit-slide:nth-child(3) {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: 180px 0;
}


.profit-slide {
  display: none;
}

#profit-btn-1:checked ~ .profit-slides .profit-slide:nth-child(1) {
  display: block;
}
#profit-btn-2:checked ~ .profit-slides .profit-slide:nth-child(2) {
  display: block;
}
#profit-btn-3:checked ~ .profit-slides .profit-slide:nth-child(3) {
  display: block;
}

/*COMPANY DESCRIPTION*/

.company-description {
  float: left;
  width: 525px;  
}

.company-contacts {
  float: right;
  width: 300px;
}

.company-description h2,
.company-contacts h2 {
  margin: 0;
  margin-top: 82px;
  margin-bottom: 35px;
  color: #000;
}

.company-info {
  margin-bottom: 85px;
}

.company-info p {
  line-height: 24px;
}

.company-description .sentence {
  margin-bottom: 22px;
}

.company-description .sentence+p {
  margin-bottom: 20px;
}

.company-description ul {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.company-description li {
  padding-bottom: 20px;  
}

.company-description li::before {
  content: '';
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
  outline: 1px solid #fb565a;
}

.company-description .more-info,
.company-contacts .mail-to {
  display: block;
  padding: 10px;

  border: none;
  border-radius: 3px; 
  outline: none;

  text-align: center;  
  text-decoration: none;  
  text-transform: uppercase; 
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  color: #fff;
  background-color: #ee3643;
  cursor: pointer; 
}

.company-description .more-info {
  width: 200px;
}

.company-description .mail-to {
  width: 280px;
}

.company-description .more-info:hover,
.company-contacts .mail-to:hover {
  background-color: #ca2c37;
}

.company-description .more-info:active,
.company-contacts .mail-to:active {
  background-color: #ba2732;
}

/*MAP*/
.company-contacts .map {
  position: relative;

  padding-top: 15px;
  padding-bottom: 35px;
}

.map img {
  z-index: 15;
}

.map iframe {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 25;
}


/*FOOTER*/

.main-footer{
  background-color: #32425c;
}

.footer-navigation .logo {
  display: block;
  width: 210px;
  padding: 18px 5px;
  padding-bottom: 15px;    
}

.logo b {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
}

.footer-menu-top {
  float: right;
  width: 552px;   
}

.footer-menu-top ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.footer-menu-top li {
  display: inline-block;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px; 
  vertical-align: top;
} 

.footer-menu-top a {
  display: block;
  padding: 11px 30px;
  padding-top: 42px;
  
  text-decoration: none;
  color: #fff;
}

.footer-menu-top li:first-child a {
  padding-left: 0px;
}

.footer-menu-top li:last-child a {
  padding-right: 0;
}

.footer-menu-top a:hover,
.footer-menu-bottom a:hover {
  text-decoration: underline;
}

.footer-menu-top a:active,
.footer-menu-bottom a:active {
  opacity: 0.5;
  text-decoration: none;
}


.address-phone {
  float: left;
  width: 330px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px; 
  color: #fff;
  clear: left;
}

.address-phone p{
  margin: 0;
}

.footer-menu-bottom {
  float: right;
  width: 560px;
}

.footer-menu-bottom ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0; 
}

.footer-menu-bottom li {
  display: inline-block;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;  

  vertical-align: top;
}

.footer-menu-bottom a {
  display: block;
  padding: 0 30px;
  
  text-decoration: none;
  color: #ffd180;
}

.footer-menu-bottom li:last-child a {
  padding-right: 0;
}

.footer-menu-bottom {
  padding-top: 30px;
}

.address-phone {
  padding-top: 33px;
}

.footer-navigation {
  margin-bottom: 48px;
}

.footer-contacts,
.footer-contacts a {  
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;  
  color: #fff;
  background-color: #293449;  
}

.footer-contacts {  
  padding-top: 35px;
  padding-bottom: 31px;  
}

.footer-contacts p {
  margin: 0;
}

.footer-contacts a {
  text-decoration: none;
}

.copyrights {
  float: left;
  width: 230px;   
}

.social {
  float: left;
  width: 160px;
  margin-left: 145px; 

  font-size: 0;   
  text-align: center;  
}

.social .social-btn {
  position: relative;

  display: inline-block;
  width: 41px;
  height: 41px;
  margin: 0 2px;

  font-size: 0; 
  vertical-align: top;
  text-decoration: none; 
  border-radius: 50%;
  background-color: #212a3a;
  cursor: pointer;  
}

.social .social-btn::before {
  position: absolute;

  font-family: "symbols-technomart";
  font-size: 18px;
}


.social .vk::before {
  content: "\76";
  
  top: 12px;
  left: 10px;  
}

.social .facebook::before {
  content: "\66";
  
  top: 10px;
  left: 15px;  
}

.social .instagram::before {
  content: "📷";
  
  top: 12px;
  left: 12px;  
}

.social .social-btn:hover,
.social .social-btn:hover::before {
  background-color: #ee3643;
}

.social .social-btn:active,
.social .social-btn:active::before {
  background-color: #ee3643;
}

.developers-info {
  float: right;
  width: 300px;
}

.footer-mail-to {
  float: left;
  width: 140px;
}

.developers-webpage {
  float: right;
  width: 120px;
}

.developers-info a {
  color: #ffd180;
}

.developers-info p {
  margin: 0;
}

.footer-mail-to,
.developers-webpage {
  margin: auto 0;
}

.footer-mail-to .mail-to:hover,
.developers-webpage .webpage:hover {
  text-decoration: underline;
}

.footer-mail-to .mail-to:active,
.developers-webpage .webpage:active{
  color: #ee3643;
}


/*=CATALOG.HTML=*/

.breadcrumbs {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;  

  list-style: none;
}

.breadcrumbs li {
  display: inline;
  padding-right: 16px;
  text-transform: uppercase;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;

  text-decoration: none;  
  color: #000; 
}

.breadcrumbs li::after {
  content: "\3e";
  margin-left: 13px;

  font-family: "symbols-technomart";
  font-size: 14px;
  color: #c1c6ce;
} 

.breadcrumbs .current::after {
  display: none;
}

.breadcrumbs .home {
  font-size: 0;
}

.breadcrumbs .home::before {
  content: "\1f3e0";
  font-family: "symbols-technomart";
  font-size: 16px;
  color: #c1c6ce;
} 

.perforators { 
  margin-bottom: 20px;
  background-color: #f2f6f8;
}

.perforators h2 {
  margin: 0;
  padding: 34px 30px;
}

/*ASIDE STYLES*/
.main-filters {
  float: left;
  width: 220px;  
}

.filter-name p {
  margin: 0;
  padding: 0;
}

.main-filters .filter-name {
  padding: 11px 19px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f7f3ec;
}

/*PRICE FILTER*/

.filter-price {
  width: 220px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-price h3 {
  text-transform: uppercase;
}

.range-bar {
  position: relative;  
  height: 79px;
  margin-bottom: 9px;
  padding: 0 20px;
  padding-top: 1px; 

  border-radius: 5px;
  background-color: #f7f3ec;
}

.range-bar .scale {
  height: 2px;
  margin-top: 39px;

  background-color: #d7dcde;
}

.range-bar .bar {
  width: 80%;
  height: 2px;

  background-color: #00ca74;
}

.range-bar .toggle {
  position: absolute;
  top: 30px;   
  width: 4px;
  height: 4px;

  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #d5d2cc;
  cursor: pointer;
}

.range-bar .min-toggle {
  left: 20px;
}

.range-bar .max-toggle {
  left: 160px;
}

.price-bar {
  font-size: 0;
}

.price-bar span {
  font-size: 17px;
}

.price-bar input {
  width: 75px;
  padding: 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  color: #000;

  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f7f3ec;
}

.min-price {
  margin-right: 10px;
}

.max-price {
  margin-left: 10px;
  text-align: right;
}

/*PRODUCERS AND CHARGING TYPE FILTER*/

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.main-filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.main-filters legend {
  padding-top: 23px;
  
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;  
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;

  display: block;
  margin: 20px 0;
  padding-left: 34px; 
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  position: absolute;
  top: 0;
  left: 0; 
  width: 18px;
  height: 18px;

  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
}

input[type="checkbox"] + label::before {
  content: "\2610";
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

input[type="radio"] + label::before {
  content: "\25cb";
}

input[type="radio"]:checked + label::before {
  content: "\25cf";
}

.main-filters .filter-producers {
  border-bottom: 1px solid #e5e5e5;
}

input[type="checkbox"] + label:hover::before,
input[type="radio"] + label:hover::before {
  color: #b5b5b5;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  color: rgba(181, 181, 181, 0.3);
}  

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}  

/*SORT BTN*/

.main-filters .sort-btn {
  display: inline-block;
  width: 120px;
  padding: 10px;
  margin-top: 58px;

  text-align: center;
  color: #000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

/*MAIN-GALLERY HEADER*/

.main-gallery {
  float: right;
  width: 700px;
  margin-bottom: 60px;
}

.gallery-filter {
  margin-bottom: 20px;

  font-size: 0;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f7f3ec;  
}

.filter-title,
.filter-header,
.filter-pointer {
  display: inline-block;  

  font-size: 13px; 
  vertical-align: middle;
}

.filter-title {
  padding-left: 19px;
  padding-right: 59px;
}

.filter-header {
  padding: 0;
  margin: 11px 0;
}

.filter-header ul {
  margin: 0;
  padding: 0;

  font-size: 0;
  list-style: none;
}

.filter-header li {
  display: inline-block;  

  font-size: 13px; 
  line-height: 13px;
  vertical-align: middle;
}

.filter-header li:nth-child(1) {
  margin-left: 80px;
  margin-right: 68px;
}

.filter-header li:nth-child(2) {
  margin-right: 60px;
}

.filter-header li:nth-child(3) {
  margin-right: 42px;
}

.filter-header a {
  display: block;
  margin-bottom: -1px;

  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.filter-header .active,
.filter-pointer .active {
  color: #ee3643;
  border: none;
}

.filter-header a:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.filter-pointer {
  font-family: "symbols-technomart";
  font-size: 23px;
  color: #c6c2bd;
}

.filter-pointer a {
  text-decoration: none;
  color: #c6c2bd;
}

.filter-pointer a:hover {
  color: #000;
}


/*MAIN-GALLERY GOODS*/

.main-gallery-items {
  font-size: 0;
}

.main-gallery-items section {
  position: relative;
  display: inline-block; 

  width: 218px;
  height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  vertical-align: top;
  border: 1px solid #e5e5e5; 
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center; 
}


.main-gallery-items section:nth-child(3n) {
  margin-right: 0;
}

.perforators-description { 
  padding-top: 1px;
  clear: both;
  background-color: #f2f6f8;
}

.perforators-description h2 {
  margin-top: 70px;
  margin-bottom: 32px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.perforators-description p {
  margin: 0;
  padding-bottom: 67px;
  line-height: 24px;
}

/*PAGINATOR*/

.pagination {
  margin-top: 32px;
  font-size: 0;
}

.pagination a,
.pagination span {
  display: inline-block;
  min-width: 8px;
  height: 10px;  
  margin-right: 10px;
  padding: 13px 14px;
  
  font-size: 13px;
  color: #000;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  vertical-align: middle;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination .current {
  color: #fff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.pagination .next {
  min-width: 110px;
}

.pagination a:hover {
  border-color: #bdc6ca;
}

.pagination a:active {
  border-color: #bdc6ca;
}

.pagination a:active {
  border-color: #ee3643;
}



/*для оформления*/
/*
.logo {
  background-color: #f7dee0;
}

.search {
  background-color: #feeeb9;
}

.user-bar {
  background-color: #f9b3c1;
}

.shop-info {
  background-color: #fab2df;
}

.shop-info .description {
  background-color: #da355f;
}

.shop-info .contacts {
  background-color: #f58e50;
}

.user-block {
  background-color: #0376df;
}

.popular-items-header h2 {
  background-color: #ff9c00;
}

.item-preview section {
   background-color: #00aeff; 
}

.item-preview  {
   background-color: #ae0066; 
}

.company-description {
  background-color: #ccdbff;
}

.company-contacts {
  background-color: #6ff;
}

.company-info {
  background-color: #ccffa8;
}

.company-contacts {
  background-color: #00cf99;
}

.footer-navigation {
  background-color: #ff8133;
}

.developers-info,
.copyrights {
  background-color: rgb(255, 234, 204);
}

.social {
  background-color: #f9f;
}

.footer-contacts {
  background-color: #e1ff99;
}

.container {
  background-color: rgb(150, 143, 126);  
}

.services h2 {
  background-color: rgba(174, 50, 59, 0.5)
}

*/